<network>
  <name>default</name>
  <forward mode='nat'/>
  <bridge name='mgmt0' stp='off' delay='0'/>
  <mac address='00:00:bb:00:00:00'/>
  <ip address='{{ guest_management_network }}.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ guest_management_network }}.192' end='{{ guest_management_network }}.254'/>
      <host mac='00:00:bb:16:04:10' ip='{{ guest_management_network }}.10'/>
      <host mac='00:00:bb:16:04:11' ip='{{ guest_management_network }}.11'/>
      <host mac='00:00:bb:16:04:12' ip='{{ guest_management_network }}.12'/>
      <host mac='00:00:bb:16:04:13' ip='{{ guest_management_network }}.13'/>
      <host mac='00:00:bb:16:04:14' ip='{{ guest_management_network }}.14'/>
      <host mac='00:00:bb:16:04:15' ip='{{ guest_management_network }}.15'/>
      <host mac='00:00:bb:16:04:16' ip='{{ guest_management_network }}.16'/>
      <host mac='00:00:bb:16:04:17' ip='{{ guest_management_network }}.17'/>
      <host mac='00:00:bb:16:04:18' ip='{{ guest_management_network }}.18'/>
      <host mac='00:00:bb:16:04:19' ip='{{ guest_management_network }}.19'/>
      <host mac='00:00:bb:16:04:20' ip='{{ guest_management_network }}.20'/>
      <host mac='00:00:bb:16:04:21' ip='{{ guest_management_network }}.21'/>
      <host mac='00:00:bb:16:04:22' ip='{{ guest_management_network }}.22'/>
      <host mac='00:00:bb:16:04:23' ip='{{ guest_management_network }}.23'/>
      <host mac='00:00:bb:16:04:24' ip='{{ guest_management_network }}.24'/>
      <host mac='00:00:bb:16:04:25' ip='{{ guest_management_network }}.25'/>
      <host mac='00:00:bb:16:04:26' ip='{{ guest_management_network }}.26'/>
      <host mac='00:00:bb:16:04:27' ip='{{ guest_management_network }}.27'/>
      <host mac='00:00:bb:16:04:28' ip='{{ guest_management_network }}.28'/>
      <host mac='00:00:bb:16:04:29' ip='{{ guest_management_network }}.29'/>
      <host mac='00:00:bb:16:04:30' ip='{{ guest_management_network }}.30'/>
      <host mac='00:00:bb:16:04:31' ip='{{ guest_management_network }}.31'/>
      <host mac='00:00:bb:16:04:32' ip='{{ guest_management_network }}.32'/>
      <host mac='00:00:bb:16:04:33' ip='{{ guest_management_network }}.33'/>
      <host mac='00:00:bb:16:04:34' ip='{{ guest_management_network }}.34'/>
      <host mac='00:00:bb:16:04:35' ip='{{ guest_management_network }}.35'/>
      <host mac='00:00:bb:16:04:36' ip='{{ guest_management_network }}.36'/>
      <host mac='00:00:bb:16:04:37' ip='{{ guest_management_network }}.37'/>
      <host mac='00:00:bb:16:04:38' ip='{{ guest_management_network }}.38'/>
      <host mac='00:00:bb:16:04:39' ip='{{ guest_management_network }}.39'/>
    </dhcp>
  </ip>
</network>
